[Unit]
Description={{ systemd_name }} backend service
After=network.target

[Service]
Type=simple
User=root
Group=nogroup
LimitNOFILE=32768
Restart=on-failure
ExecStart=/usr/local/bin/{{ binary_name }} -config={{ config_file }}

[Install]
WantedBy=multi-user.target