[Unit]
Description={{ ServiceName }} Backend Service
After=network.target

[Service]
Type=simple
User=root
Group=nogroup
LimitNOFILE=32768
Restart=on-failure
ExecStart=/usr/local/bin/{{ BinName }} start --config=/etc/{{ ConfigDir }}/config.json

[Install]
WantedBy=multi-user.target