version: '3'

services:
{% for service in services %}
  {{ service.name }}:
    build:
      context: {{ service.context | default('.') }}
      dockerfile: {{ service.dockerfile | default('Dockerfile') }}
    image: {{ service.image_name | default(service.name) }}:{{ service.image_tag | default('latest') }}
    container_name: {{ service.container_name | default(service.name) }}
    restart: unless-stopped
{% if service.ports is defined and service.ports %}
    ports:
{% for port in service.ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if service.envs is defined and service.envs %}
    environment:
{% for key, value in service.envs.items() %}
      - {{ key }}={{ value }}
{% endfor %}
{% endif %}
{% if service.volumes is defined and service.volumes %}
    volumes:
{% for volume in service.volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if service.networks is defined and service.networks %}
    networks:
{% for network in service.networks %}
      - {{ network }}
{% endfor %}
{% endif %}
{% endfor %}

{% if networks is defined and networks %}
networks:
{% for network in networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}